.footer{
    width: var(--container);
    height: 306px;
    margin-top: 101px;
    background: #E7E9ED;
    text-align: center;
    padding-top: 67px;
    display: grid;
    grid-gap: 19px;
    grid-template-rows: 34px 22px 22px;
}
.footer__contact:nth-child(1){
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.footer__contact:nth-child(2){
    font-size: 18px;
    line-height: 22px;  
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.footer__contact:nth-child(3){
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: .7px;
}
.footer__contact:nth-child(4){
    margin-top: 19px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #919294;
}
